ALEXANDRIA_DB_HOST="" # name of the container holding the DB
ALEXANDRIA_TEST_DB_HOST="" # name of the container holding the DB
MARIADB_DATABASE=""
ALEXANDRIA_TEST_DB_NAME=""

MARIADB_USER=""
MARIADB_PASSWORD=""
MARIADB_ROOT_PASSWORD=""
